*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem; }

main {
  min-height: 200vh; }

a {
  text-decoration: none;
  color: black; }

.bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 8.6rem;
  height: 100vh;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09), 0 3px 6px rgba(0, 0, 0, 0.15);
  z-index: 100;
  transition: width 0.3s; }
  .bar__logo-small {
    position: absolute;
    width: 4.4rem;
    display: block;
    margin: 4rem 2.1rem;
    z-index: 3; }
  .bar__logo-big {
    position: absolute;
    width: 9rem;
    top: 5rem;
    left: -5rem;
    transition: all 0.5s; }
  .bar__logo-mask {
    background-color: white;
    width: 5rem;
    height: 7rem;
    position: absolute;
    top: 2rem;
    z-index: 2; }
  .bar__content {
    position: absolute;
    left: -100%;
    top: 30%;
    opacity: 0;
    transition: all 0.3s; }
    .bar__content a {
      display: block;
      font-size: 2rem;
      letter-spacing: 0;
      font-weight: 600; }
  .bar__burger {
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 2.2rem;
    display: block;
    width: 1.3em;
    height: 2em;
    margin: 0 auto;
    cursor: pointer; }
    .bar__burger span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 0.1em;
      margin-top: -0.1em;
      background-color: #ffbd55;
      transition: background-color 0.3s;
      transition: transform 0.3s;
      border-radius: 1rem; }
    .bar__burger-1 {
      transform: translateY(-0.4em); }
    .bar__burger-3 {
      transform: translateY(0.4em); }
    .bar__burger.bar__burger-open .bar__burger-1 {
      transform: translateY(-0.29em) translateX(-0.65em) rotate(-45deg) scaleX(0.6); }
    .bar__burger.bar__burger-open .bar__burger-2 {
      opacity: 0; }
    .bar__burger.bar__burger-open .bar__burger-3 {
      transform: translateY(0.29em) translateX(-0.65em) rotate(45deg) scaleX(0.6); }
  .bar__social {
    position: absolute;
    left: 3rem;
    bottom: 5%; }
    .bar__social img {
      display: block;
      height: 2.5rem;
      transition: all 0.5s;
      margin: 3rem 0; }
    .bar__social-fb {
      padding-left: 0.5rem; }
  .bar-open {
    width: 33rem; }
    .bar-open .bar__social {
      left: 50%;
      transform: translateX(-50%); }
      .bar-open .bar__social img {
        display: inline-block;
        margin: 1rem; }
    .bar-open .bar__content {
      opacity: 1;
      left: 9rem; }
    .bar-open .bar__logo-big {
      left: 6.5rem; }
    .bar-open .bar__logo-comp {
      transform: translateX(7rem);
      transition: transform 0.5s; }

.gallery__image {
  width: 45rem !important;
  height: auto !important;
  margin: 7rem 7rem 0 7rem; }

.gallery .container {
  width: 104rem;
  margin: 0 auto;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2; }
