.shop-menu {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    position: relative;
   & > * {
       display: inline-block;
       margin-right: 8rem;
   }
   p {
       color: #c7c7c7;
   }
    button{
        font-family: $font-secondary;
        display: inline-block;
        background-color: white;
        border-radius: 0px;
        border: none;
        font-weight: 500;
        font-size: 2rem;
        padding: 0 2.5rem 1.3rem 2.5rem;
        padding-bottom: 1rem;
        cursor: pointer;
        background-image: linear-gradient($color-primary, $color-primary), linear-gradient(white, white);
        background-size: 0 5px, auto;
        background-repeat: no-repeat;
        background-position: center bottom;
        transition: all .2s ease-out;
    }
    button:hover {
        background-size: 100% 5px, auto;
    }
    button:focus {
        outline: none;
    }
    img {
        position: absolute;
        width: 25px;
        top: 0;
        right: -2rem;
        cursor: pointer;
    }
}

.shop-sortFiler{
    margin-left: 15%;
    margin-top: 9rem;
& > * {
    display: inline-block;
}
& p{
    font-family: $font-primary;
    font-size: 1.4rem;
    color: #AFAFAF;
    display: inline-block;
    
}
& p span {
    color: $color-primary;
    margin-left: 3rem;
    margin-right: .6rem;
    cursor: pointer;
}
& img {
    width: 15px;
    cursor: pointer;
}

}

.shop-items {
    width: 100%;
    //margin-left: 15%;
    display: grid;
    margin-top: 8rem;
    grid-template-columns: 290px 290px;
    grid-template-rows: 1fr;
    grid-column-gap: 15%;
    grid-row-gap: 12rem;
    justify-content: center;
    margin-bottom: 12rem;
    &__item {
        cursor: pointer;
        overflow: hidden;
        
    
     & h3{
        font-weight: 700;
        margin-top: 1.5rem;
        font-size: 1.8rem;
        font-family: $font-primary;
     } 
    & p {
        font-size: 1.4rem;
        color: #AFAFAF;
        font-size: 1.4rem;
    } 
    }
    &__item img {
        width: 100%;
        display: block;
        transition: all .2s ease-out;
    }
   
}
.shop-items__item img:hover{
  
       transform: scale(1.05);
    
    
}
.shop-mobileFIlter {
    display: none;
}
.shopping-cart-mobile {
    display: none;
}
@media only screen and (max-width: $bp-large) {
    .shop-menu {
        display: none;
        & img {display: none;}
    }
    .shop-sortFiler {
        margin-left: 5%;
    }
    .shop-mobileFIlter {
        display: block;
        position: absolute;
        right: 3rem;
        top: 10rem;
        & img {
            width: 20px;
        }
    }
    .shopping-cart-mobile {
        position: fixed;
        z-index: 100;
        bottom: 6%;
        right: 3rem;
        display: block;
        width: 70px;
        height: 70px;
        background-color: $color-primary;
        border-radius: 50%;
        box-shadow: 3px 4px 32px -6px rgba(0,0,0,0.26);

        & img {
            width: 30px;
            position: absolute;
            top: 23px;
            left: 18px;
        }
    }
}

@media only screen and (max-width: $bp-medium) {
    .shop-sortFiler {
        margin-left: 3.1rem;
        margin-top: 10rem;
        & p span{
            margin-left: 1.2rem;
        }
    }
    .shop-items {
        grid-template-columns: 55%;
    }
}
