h1,h2,h3,h4{
    font-family: $font-secondary;
}
h1{
    font-size:6rem;
    color: $color-black;
    font-weight:800;
    line-height: 1.1;
}
h2{
    font-size:3rem;
    font-weight:600;
    color:$color-black;
  
}
.heading-line{
    width:6rem;
    margin-top:0.2rem;
    background-color: $color-primary;
    height:0.5rem;
}
.button-primary{
    cursor:pointer;
    background-color: $color-primary;
    font-weight: 500;
    color:white;
    padding: 1.4rem 4.5rem;
    border: none;
    font-size:1.6rem;
    border-radius: 0.4rem;
    margin-right: 4rem;
    border: 2px solid $color-primary;
    &:hover{
        transition-duration:0.2s;
        background-color: white;
        color: $color-primary;
    }
}

.button-secondary{
    cursor:pointer;
    background-color: white;
    font-weight: 500;
    color: $color-primary;
    padding: 1.4rem 4.5rem;
    border: 2px solid $color-primary;
    font-size:1.6rem;
    border-radius: 0.4rem;
    &:hover{
        transition-duration:0.2s;
        background-color: $color-primary;
        color: white;
    }
}
@media only screen and (max-width: $bp-small) {
    .button-secondary, .button-primary{
padding: 1.5rem 3rem;
margin-right: 1rem;
    }
     }